@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Noto Sans Thai", ui-sans-serif, system-ui, sans-serif;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

html {
  overflow-y: overlay;
}

body {
  scrollbar-gutter: stable;
}
